/*MOBILE STARTS HERE*/
  body {
    background-color: #33CC99;
    font-family: 'Cabin', sans-serif;
  }

  .container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
  }
  /*Styling for the Welcome Page*/
  h1 {
    text-align: center;
    color: orange;
  }
  #input input {
    width: 100%;
    display: block;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid black;
    margin-top: 10px;
  }
  .lot, .driveway {
    display: block;
    width: 101.5%;
    padding-left: 10px;
    height: 35px;
    border: 2px solid black;
    padding-right: 20px;
    margin-top: 10px;
  }

  #submit {
    margin-top: 10px;
  }

  #submit button {
    width: 101.5%;
    background-color: black;
    color: #fff;
    height: 34px;
    border: none;
    display: block;
    transition: 0.5s all;
  }

  #submit button:hover {
    background-color: lightgray;
  }
  /*Styling for the Select option Page  */
  .pickAButton button {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  .snow {
    margin-top: 50px;
    background-image: url(snowy-street.jpg);
    font-size: 20px;
    color: #FFF;
    margin-bottom: 10px;
  }
  .grass {
    background-image: url(grass.jpg);
    color: #FFF;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  /* Styling for schedule page*/
  .days {
    text-align: center;
  }
  .temperature {
    display: inline-block;
    /*FIX THE TEMPS*/
  }
  #img {
    border: 1px solid black;
    border-radius: 3px;
    height: 75px;
    width: 100px;
    margin-left: 40px;
  }
  .times {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #schedule .selected{
    background-color: #6699FF;
  }
  .theScheduleButton button {
    display: block;
    width: 100%;

  }
  /*Styling for the Message Page*/
  .thankYou {
    text-align: center;
    margin-top: 20px;
  }
  .receipt {
    border: 1px solid black;
    background-color: white;
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
  .receipt p {
    margin-left: 20px;
  }
  .ok {
    margin-left: 125px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    background-color: #E6E6FA;
    color: blue;
  }

/*END OF MOBILE*/

/*TABLET MEDIA QUERY STARTS HERE*/
@media only screen and (min-width: 768px) {
  #input input {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .lot, .driveway {
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    width: 100.5%;
    border-radius: 10px;
  }

  #submit button {
    width: 100px;
    height: 50px;
    margin-top: 30px;
    border-radius: 10px
  }

  #submit {
    display: flex;
    justify-content: flex-end;
  }

  /*Styling for the Select option Page*/
  .pickAButton button {
    width: 600px;
    height: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 75px;
    border-radius: 20px;
    border: 5px solid black;
  }
  .snow {
    background-image: url(snowy-street.jpg);
    font-size: 50px;
    color: #FFF;
  }
  .grass {
    background-image: url(grass.jpg);
    color: #FFF;
    font-size: 50px;
  }
  /*Styling for the schedule page*/
  #schedule h1 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
  }
  .choose {
    text-align: center;
    font-size: 20px;
  }
  .days {
    font-size: 20px;
    text-align: center;
  }
  .times {
    height: 40px;
    width: 80px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .theScheduleButton button {
    margin-left: 200px;
    margin-top: 30px;
    height: 50px;
    width: 90px;
    border-radius: 10px;
    text-transform: uppercase;
  }
  /*Styling for the Message Page*/
  .thankYou {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
  }
  .receipt {
    width: 400px;
  }
  .ok {
    background-color: #E6E6FA;
  }
}
/*TABLET MEDIA QUERY ENDS HERE*/


/*DESKTOP VIEW STARTS HERE*/
@media only screen and (min-width: 1024px) {

/*Styling for the welcome page*/
#welcome {
  background-color: grey;
  height: 900px;
  width: 900px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 20px;
}

#welcome h1 {
  padding-top: 20px;
  font-size: 50px;
}
#welcome p {
  padding-left: 20px;
  padding-right: 20px;
  color: #D3D3D3;
  font-size: 20px;
}

#input input {
  width: 600px;
  height: 50px;
  margin-left: 150px;
  margin-bottom: 10px;
}

#submit {
  justify-content: center;
}

.lot {
  /* float: left; */
  margin-left: 40px;
  margin-right: 10px;
  height: 50px;
  width: 90%;
}

.driveway {
  height: 50px;
  /* float: right; */
  width: 90%;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 0;
}

/*Styling for the select page*/

.pickAButton button {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  width: 600px;
  height: 300px;
}

/*Styling for schedule page*/

#schedule p {
  padding-left: 20px;
  font-size: 30px;
}

#schedule button {
  margin-left: 20px;
  width: 80px;
  border-radius: 10px;
  background-color: #FFF;
  border: 2px solid blue;
}
.theScheduleButton {
  margin-left: 47%;
}
/*Styling for message page*/
.thankYou {
  font-size: 40px;
}

.lot, .driveway{
  height: 55px;
  width: 67.15%;
  margin: 25px auto;
}
}
/*DESKTOP ENDS HERE*/
