<p class="thankYou">
  Thank you for scheduling your service.
</p>

<p class="reciept">
  <!-- TODO an angular expression needs to show the name, day and time
  that were entered as well as what button they clicked being lawn or
  snow removal-->
  You're scheduled on this {{day}} at this {{time}}.
  This is your receipt and remember, be a good neighbor.
  <!--TODO Work on the costs for size of lots/driveways
    show the cost of their service selected-->
</p>
<button class="ok">Ok</button>
<!-- TODO when ok button is clicked, it needs to go back to the select.html -->
