<p class="thankYou">
  <!--TODO service clicked needs to be in the {{ }}  -->
  Thank you for scheduling your {{$ctrl.typeOfService}} service.
</p>
<div class="receipt">
  <h1>Receipt</h1>
  <p>
    You're scheduled on {{$ctrl.display.day}} at {{$ctrl.display.time}}.
    <!-- Your cost is {{ }}. -->
  </p>
</div>

<button class="ok">Ok</button>
<!-- TODO when ok button is clicked, it needs to go back to the select.html -->



<!--TODO Show the cost of their service selected based on size-->
<!--Lot Prices              Driveway Prices
      small: 50             small: 50
      medium: 75            medium: 75
      large: 100            large: 100
  -->
