<div>
  <form id="schedule">
    <h1>Schedule an appointment</h1>
    <p class="choose">
      Please select a day and time for the service you selected.
    </p>

    <!--ng-repeat is used to repeat times for every day-->
    <!--Getting the days from the API-->
    <div class="days" ng-repeat="dayObj in $ctrl.days">
      <img id="img" ng-src= "{{dayObj.iconLink}}" />
      <div>{{dayObj.temperature}}</div>
      <p>{{dayObj.day}}</p>
      <!--The time array is created in the schedule component-->
      <button class="times" ng-repeat="time in $ctrl.times" ng-click="$ctrl.itemClicked(time, dayObj.day)" ng-class="{selected: time === $ctrl.selectedTime && dayObj.day === $ctrl.selectedDay}">{{time}}</button>
    </div>
    <div class="theScheduleButton">
      <button ng-click="$ctrl.infoToShow($ctrl.info)">Schedule</button>
      <!--When clicked, send info-->
    </div>
  </form>
</div>
